.scripts
.verdacio
.vscode
dist
docs
node_modules
tmp
.editorconfig
.dockerignore
.env
.env.*
!**/.env.prod-build
.eslintignore
.gitignore
.prettierignore
Dockerfile
env.d.ts
Makefile
README.md
TODO.md


.git
*.log
*.md
.next
